<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The title of the webpage -->
	<title>Road Runners Bus Lines</title>
  <!-- Linking an external CSS file named "aboutstyle.css" for styling the page -->
	<link rel="stylesheet" type="text/css" href="css\aboutstyle.css">
  <!-- Linking an external CSS file named "style.css" for additional styling -->
  <link rel="stylesheet" type="text/css" href="css\style.css">
  <!-- Linking  the "logo2.png" image file -->
	<link rel="icon" type="images/x-icon" href="images\logo2.png" />
  <!-- Linking an external CSS file for Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- Navigation Bar -->
  <header>
		<ul class="menu">
		  <li><img src="images\logo.png"></li>
			<li><a href="home">Home</a></li>
			<li><a href="schedule">Schedule</a></li>
			<li><a href="book">Book</a></li>
			<li><a class="active" href="about">About</a></li>
		</ul>
	</header>
</head>
<body>
    <!-- Accordion -->
    <div class="accordion-container">
      <!-- Page Title "About" -->
      <h3 class="about">About</h3>
      <!-- First accordion section "Communication" -->
      <button class="accordion">Communication</button>
      <!-- Contains communication options (phone number, email, location and a map) -->
      <div class="panel1">
        <p><i class="fas fa-phone"></i>2104001890</p>
        <p><i class="fas fa-at"></i> roadrunner@gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i> Ermou Street Athens,Greece</p>
        <div class="map-container">
          <!--Google maps with a pin for the location-->
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.2207434079896!2d23.76294320913273!3d37.94347632727461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bdf65f13624b%3A0x200c211e994b568f!2sROADRUNNER!5e0!3m2!1sel!2sgr!4v1682086180903!5m2!1sel!2sgr&z=14&amp;z=10"height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!-- Second accordion section "Our Company" -->
      <button class="accordion">Our Company</button>
      <!-- Contains information about the companies history-->  
      <div class="panel">
        <p>Established in 1991 in Greece, Road Runner Bus Lines is a trusted provider of safe and reliable bus transportation services. With a modern fleet of buses and experienced drivers, the company has become a preferred choice for travelers looking to explore the country in comfort and style. Despite facing challenges, Road Runner Bus Lines remains committed to its core values of safety, reliability, and customer service, and looks forward to serving customers for years to come. </p>
      </div>
      <!-- Third accordion section "Policies and Terms" -->
      <button class="accordion">Policies and Terms</button>
      <!-- Contains the policies and terms of the company (booking methods, refunds and cancelletion etc.) -->
      <div class="panel">
        <p> <b>Booking Methods:</b></br>At Road Runners, we offer convenient and easy-to-use booking options to suit your needs.</br> You can book your tickets through any of the following methods:
            </br>Online Booking:You can book your tickets online through our website. Our online booking system is fast, secure, and easy to use.Receive your e-ticket in just a few clicks and pay the price within 24 hours in the provided IBAN.
            </br>Phone Booking: If you prefer to book your tickets over the phone, our customer support team is available 24/7 to assist you. Simply call our booking hotline and provide your travel details, and our agents will guide you through the booking process and help you secure your seats.
            </br>No matter which booking method you choose, we guarantee a hassle-free and enjoyable booking experience. So why wait? Book your tickets with Road Runners today and experience the best in bus travel.</br></br>
            <b>Refunds and Cancellations:</b>
            </br>No refunds or cancellations are accepted at Raod Runners Busl Lines.</br></br>
            <b>Baggage Policy</b></br>At Road Runners, we want to make your travel experience as comfortable as possible. We allow each passenger to bring one carry-on bag and one personal item, such as a purse or laptop bag, on board free of charge.
            </br>Your carry-on bag must fit in the overhead compartment or under the seat in front of you. If you have any questions about our baggage policy or the items you can bring on board, please contact our customer support team.</br>
        </p>
      </div>
    </div>
     <!-- This scrips handls the behaviour of the accordion. 
          For each "accordion" it creates an "click" event listener.
          If the panel is currently displayed, it hides the panel ("none")
          If the panel is currently not displayed, it shows the panel("display")-->
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
</body>
</html>