<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The title of the webpage -->
	<title>Road Runners Bus Lines</title>
	<!-- Linking an external CSS file named "homestyle.css" for styling the page -->
	<link rel="stylesheet" type="text/css" href="css\bookstyle.css">
    <!-- Linking an external CSS file named "style.css" for additional styling -->
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<!-- Linking  the "logo2.png" image file -->
	<link rel="icon" type="images/x-icon" href="images\logo2.png" />
	<!-- Navigation Bar -->
	<header>
		<ul class="menu">
		    <li><img src="images\logo.png"></li>
			<li><a href="home">Home</a></li>
			<li><a href="schedule">Schedule</a></li>
			<li><a class="active" href="book">Book</a></li>
            <li><a href="about">About</a></li>
		</ul>
	</header>
</head> 
<body>
	<div class="submit-form">
		<h5 class="book">Book Ticket</h5>
		<form id="form-submit" action="/book" method="post">
			<fieldset>
				<label for="from">From:</label>
				<select required name='from' id="from">
					<option value="">Select a location...</option>
					<option value="Athens">Athens</option>
					<option value="Thessaloniki">Thessaloniki</option>
					<option value="Arta">Arta</option>
					<option value="Patra">Patra</option>
					<option value="Volos">Volos</option>
				</select>
			</fieldset>     
			<fieldset>
				<label for="to-city">To:</label>
				<select required name='to' id="to">
					<option value="">Select a location...</option>
				</select>
			</fieldset>
			<fieldset>
				<label for="date">Date:</label>
				<select required name='date' id="date">
					<option value="">Select a date...</option>
				</select>
			</fieldset>
			<fieldset>
				<label for="fname">First name:</label><br>
				<input type="text" id="fname" name="fname" value=""><br>
			</fieldset>
			<fieldset>
				<label for="lname">Last name:</label><br>
				<input type="text" id="lname" name="lname" value=""><br>
			</fieldset>
				<button type="submit" id="submit-btn" class="btn">Book</button>
			</fieldset>
		</form>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
        $('#from').change(function() {
          var fromCity = $(this).val();
          $.getJSON('/get_to_cities', {from: fromCity}, function(data) {
            var options = '<option value="">Select a location...</option>';
            $.each(data, function(key, value) {
              options += '<option value="' + value.to_city + '">' + value.to_city + '</option>';
            });
            $('#to').html(options);
          });
        });
      });
    </script>
	<script>
	$(function() {
		$('#to').change(function() {
      	var fromCity = $('#from').val();
      	var toCity = $(this).val();
      	$.getJSON('/get_dates', {from: fromCity, to: toCity}, function(data) {
        var options = '<option value="">Select a date...</option>';
        $.each(data, function(key, value) {
          options += '<option value="' + value.date + '">' + value.DATE_T + '</option>';
        });
        $('#date').html(options);
      	});
    	});
  	});
	</script>
</body>
</html>