<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Road Runners Bus Lines</title>
	<link rel="stylesheet"type="text/css" href="css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" type="./images/x-icon" href="images/logo2.png" />
	

</head>


<body>
	<header>
		<ul class="menu">
			<li><img src="images/logo.png"></li>
			
			<li><a class="active" href="home">Home</a></li>
			<li><a href="schedule">Schedule</a></li>
			<li><a href="book">Book</a></li>
			<li><a href="about">About</a></li>
		</ul>
	</header>
	 <main>
	<div class="Home1">
     <h1>Welcome to Road Runner Bus Lines !</h1>
      <h3>A reliable and affordable bus line that provides safe and comfortable transportation to destinations across Greece. Whether you're commuting to work or planning a trip, we've got you covered! </h3>
      <h3>Book your bus tickets online and enjoy a hassle-free journey. Choose from a wide range of bus operators and routes.</h3>
    </div>


			<div class="hero-image-group">
				<div class="hero-image">
					<img src="images\bus.jpg" alt="Greece" style="width:400px;height:400px;">
					<div class="image-info">
						<h3>Greece</h3>
						<p>Greece is a country located in Southeast Europe. It is known for its ancient history, beautiful islands, and Mediterranean cuisine. </p>
					</div>
				</div>
				<div class="hero-image">
					<img src="images\travel1.jpg" "alt="Bus on Highway" style="width:500px;height:400px;">
					<div class="image-info">
						<h3>Comfortable Travel</h3>
						<p>Our buses are designed with your comfort in mind. Enjoy air conditioning, comfortable seating, and WIFI for smooth ride.</p>
					</div>
				</div>
			</div>
		</section>
		
		 <div class="Home1">
          <div class="container">
           <h2><span class="text1">Why pay more for transportation when you can travel with us for less? Book your tickets today starting from 10$!</span></h2>
            <img src="images\mon.jpg" alt="Logo" style="width:200px;height:180px;">
            <h2><span class="text2">Also,travel safely and environmentally friendly!</span></h2>
             <img src="images\leaf.png" alt="Logo" style="width:200px;height:200px;">
          </div>
		</div>
         

		<div class="Home1">
         <h1>Popular Cities and Destinations</h1>
         <div class="container">
           <h3><class="text1">&#x1F4CD;<br>&#x1F4CD;<br>&#x1F4CD;<br>&#x1F4CD;<br>&#x1F4CD;<br>&#x1F4CD;<br></h3>
		   <h3><class="text2">Thessaloniki<br>Giannena<br>Athens <br>Patra<br> Volos<br>Arta <br></h3>
		</div>
        </div>
        <div class="Home1">
           <h1>For Your Confort</h1>
           <h3>&#x1F4F6;Connect to our local WiFi :"RoadRunner" | Password : Free</h3>
           <h3>&#x1F50B;Charge your phone through our ports</h3>
           <h3>&#x2744;Choose to open either Heating or Air-Conditioning depending on your needs</h3>
        </div>
		<div class="Home1">
			<h1>For Your Pet's Confort</h1>
			<h3>&#x1F43E;We welcome pets on our buses, but we ask that you follow a few guidelines:</h3>
			  <h3>Pets must be clean and not have any strong odors</h3>
			  <h3>Pets must be up-to-date on their vaccinations</h3>
			<h3>Thank you for traveling with us and respecting our pet policy!&#x1F43E;</h3>
		  </div>
	    </section>
	   </main>
	   <script src="server.js"></script>
  </body>
</html>